<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test</title>
</head>
<body>
    <form action="createTest/ups" method="POST">
        <label for="Title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="duration">Duration:</label><br>
        <input type="text" id="duration" name="duration" required><br><br>
        <label for="No.of.ques">Number Of Questions:</label><br>
        <input type="text" id="no.of.ques" name="question" required><br><br>
        <input type="submit" value="Next">
    </form>
</body>
</html></html>