<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Home </title>
</head>

<body>
  <div class="message-box">
    <h1 id="welcome-message"></h1>
    <a href="faculty/createTest">Create Test</a><br><br>
    <a href="faculty/viewTest">View Tests</a>
    <a href="/login">Logout</a><br><br>
  </div>

  <script>
    const req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState == 4 && req.status == 200) {
        const user = JSON.parse(req.response).user;
        document.getElementById("welcome-message").innerText = `Welcome ${user.fullName}!!`;
      }
    };
    req.open("GET", "http://localhost:5000/user", true);
    req.send();
  </script>
</body>
</html>